@font-face {
    font-family: "Comic Sans";
    src: url("fonts/comic.ttf")
}

h1, h2, h3, h4 {
    margin: 0;
    text-transform: uppercase;
}

h2, h3, h4 {
    margin-top: 1em;
}

h1 {
    font-style: italic;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

aside {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

body {
    font-family: "Comic Sans", fantasy;
    font-size: 16px;
    margin: 0;
    background: #83B799;
}

.wrapper0 {
    margin: 3vw;
    max-width: 95vw;
}

.wrapper1 {
    border: 5px solid black;
    padding: 20px;
    box-sizing: border-box;
    background: #E2CD6D;
}

.wrapper2 {
    border: 3px solid black;
    padding: 20px;
    box-sizing: border-box;
    background: whitesmoke;
}

.footerContent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

#rightcontent {
    float: right;
}

#somepic {
    width: 10vw;
    float: right;
    clear: right;
}

#badAt {
    margin-right: 20vw;
}

#things {
    display: flex;
    justify-content: space-between;
}

#contactsBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 5px solid black;
    background-color: #83B799;
}

